:root {
  --color-1: #f0e9dd;
  --color-5: #e2c5c1;
  --color-4: #b7bb8fe8;
  --color-3: #caa598;
  --color-2: #ECB4A3;
}

* {margin:0}

.header1 {
    background-color: var(--color-4);
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 5rem;
    padding-left: 1rem;
}
.botao{
    color:black;
    margin-right:0.7rem;
}

body {
  font-family:'Bodoni Moda', 'Old Standard TT', serif;
  background-color: var(--color-1);

}

/* INDEX */

main#index {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

main#index > div#welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main#index > div#main-menu{
  margin-top: 1em;
}

main#index > div#main-menu > .menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;
  margin-top: 0.5em;
}

main#index > div#main-menu > .menu-row > a {
  background-color: var(--color-2);
  width: 49%;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main#index > div#welcome > div > .bomdia {
  font-size: 1.3376rem;
}

main#index > div#welcome > div > .nome-usuario {
  font-size: 2.0064rem;
  font-weight: bold;
}

main#index > div#welcome > img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

main#index > .nome {
  color: var(--color-3);
}

/* PÁGINA DO CALENDÁRIO */

.active{
  border-radius: 70%;
  background-color: var(--color-2);
}

#calendario > nav {
  text-align: center;
}

#calendario > nav > #title > a {
  font-size: 1.3376rem;
  text-decoration: none;
  color: black;
}

#calendario > nav {
  margin-top: 1em;
}

#calendario > nav > #selector {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#day-of-week {
  font-weight: bold;
}

.period-name {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 0.5em;
}

#calendario > .period {
  margin-top: 1em;
}

#calendario > .period > ul {
  list-style: none;
  padding-left: 0;
}

#calendario {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#calendario > .period {
  width: 100%;
}

#calendario > .period > ul > li > a {
  display: inline-block;
  background-color: var(--color-2);
  margin-top: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  width: 100%;
}

.client-card-container {
  margin: 1em;
}

.nome-servico {
  color: black;
  font-size: large;
  margin: 0;
  font-weight: bold;
  margin-top: 0.5em;
}

/* PÁGINA DAS CONFIGURAÇÕES */
.summary h1 {
  font-weight: bolder;
  font-size: 1rem;
  margin: 1rem;
}
.summary {
  border-bottom: 0.01rem solid gray;
  margin: 1rem;
} 
.section6 {
display: flex;
flex-direction: row;
}
.section6 img{
width: 1.2rem;
height: 1.2rem;
margin-left:1rem;
}
.texto6 {
margin-left:0.5rem;
} 

/* PÁGINA DAS Cronograma */
.client-info {
  display: flex;
  flex-direction: row;
  color: black;
}

.client-info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
}

.client-info > div > p {
  margin: 0;
}

.client-info > div > .time {
  font-weight: bold;
}

.client-info > img {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

/* PÁGINA MENU */
.header2 {
  background-color: var(--color-4);
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  height:5rem;
  padding-left: 1rem;
}

.headernome {
  display: flex;
  flex-direction: column;
  color: black;
  margin-left: 0.5rem;
}

.header2 img {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.header2 h1{
  font-weight: bold;
  font-size: 2rem ;

}
.menuL {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.5rem;
  background-color: var(--color-1);
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 2.75rem;
  margin-bottom: 1.5rem;
}

.section3 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 13.5rem;
  margin-bottom: 0.5rem;
}
.alinha{
  display: flex;
  flex-direction: column;
}
.menuL img{
  margin-left: 1rem;
}

.texto a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.texto{
  margin-top: 0.3rem;
}
.sair {
  font-size: 2rem;
  background-color: var(--color-2);
  margin-left: 1.2rem;

}

.arrasta {
  font-size: 1.5rem;
  margin-left: 1.2rem;
  color: black;
  text-decoration: none;
}


/* PÁGINA INDEX */

.nome {
  display: flex;
  flex-direction: column;
  color: black;
}
.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
} 

.index a {
  display: flex;
  margin: 3rem;
  border: 0.2rem solid var(--color-3);
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.voltar {
  margin-left: 1rem;
  border: 0.2rem solid var(--color-3);
  text-decoration: none;
  color: #000;
}


/* PÁGINA DO FINANCEIRO */
.linha_cent{
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
}

.grafico {
  width:75%;
  height:15rem;
}
.fonte_valor{
  color:var(--color-4);
  font-size: x-large;
}
.comp {
  width:70rem;
  height:30rem;
}

.fontefinanceiro{
  font-size:large;
  color:black;
}


/* PÁGINA DAS CALENDARIO */
.coluna_calendario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;

}

.cabecalho{
  padding-left: 0.99rem;
  padding-right:0.99rem;
  padding-top: 1rem;
  font-size:large;
}

.linha_dias{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width:100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.linha_diasc{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width:100%;
  padding-bottom: 1rem;
  
}

.linha_dias a{
  padding-left: 1.5rem;
  padding-right: 1rem;
  color:black;
}
.p{
  padding-bottom: 1rem;
  font-size:x-large;
}

/* PÁGINA CLIENTES */

.pesquisa{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra{
  padding: 0.2rem;
  border: 0rem;
  border-radius: 1rem;
  padding: 1rem 5rem;
  text-align: center;
  margin: 1rem;
  background-color: var(--color-2);
  
}

.inicial{
  font-weight: bolder;
  margin:1rem;
  font-size: 2rem;
}
.section5 {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.section5 img{
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

}
.texto1 {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 1rem;
  margin-left:0.5rem;
}
.texto1 a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: bolder;

}

/* PAGINA CALENDÁRIO */

#pagina-calendario {
  padding-left: 1em;
  padding-right: 1em;
}

#pagina-calendario > nav > #month {
  font-size: 1.3376rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#pagina-calendario > nav {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#pagina-calendario > table {
  width: 100%;
  margin-top: 2em;
}

#pagina-calendario > table > tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dot {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;	
  font-size: 0rem;
  bottom: -0.3344rem;
  background-color: var(--color-4);
  width: 0.375rem;
  border-radius: 100%;
  height: 0.375rem;
}

#pagina-calendario > table > tbody > tr {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#pagina-calendario > table > tbody > tr > th {
  width: 14.28%;
  font-size: 0.8360rem;
  font-weight: bold;
}

#pagina-calendario > table > tbody > tr > td {
  width: 14.28%;
  text-align: center;
  font-family:'Open Sans','Roboto', sans-serif;
}

#pagina-calendario > table > tbody > tr > td > a {
  color: black;
  text-decoration: none;
}

#pagina-calendario > div#seletor-horarios {
  width: 100%;
  margin-top: 1em;
}

#pagina-calendario > div#seletor-horarios > .row-horarios {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#pagina-calendario > div#seletor-horarios > .row-horarios > .horario {
  background-color: var(--color-4);
  width: 100%;
  margin: 0.2em;
  height: 3em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family:'Open Sans','Roboto', sans-serif;
}

#pagina-calendario > p {
  margin-top: 3em;
  text-align: center;
  font-weight: 600;
}

.disabled {
  background-color: var(--color-3) !important;
}

.next-month {
  color:var(--color-3);
}

/* PÁGINA Estoque */

.sumario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rapaz {
  padding-top: 2.5rem;
}

.principal{
  font-size: 2rem;
  background-color: var(--color-2);
}

.nomezinhos {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.linha1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coluna1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.coluna12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coluna12 h2{
  background-color: var(--color-2);
  padding-right: 5.4rem;
  padding-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;


}
.coluna1 h2{
  background-color: var(--color-2);
  padding-right: 11rem;
  padding-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

}

.coluna1 h3{
  background-color: var(--color-2);
  margin-top: 0.5rem;
  margin-bottom: 1rem;

}


/* PÁGINA BIANCA */
.colunabianca {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fotobianca{
  width: 5rem ;
  height:5rem;
  border-radius:3rem;
}

.colunaprincipal {
  display:flex;
  flex-direction:column;
}

.colunab{
  display:flex;
  flex-direction:column;
  background-color:  var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1.2rem;
}
.colunafi{
  display:flex;
  flex-direction:column;
  margin: 0.5rem;
}

.pad{
  padding:0.5rem;
}


.linha{
  display: flex;
  flex-direction: row;
}
.linhafi{
  display: flex;
  flex-direction: row;
  padding-left:0.7rem;
  
}
.vrm{
  color:var(--color-2);
}
.verde{
  color:var(--color-4);
}
.txtp{
  font-size: large;
  font-weight: bold;
}
.txts{
  font-size:small;
  font-family:'Open Sans','Roboto', sans-serif;
}
.his{
  padding:0.5rem;
  margin: 0.5rem;
}

.colunaluiz{
  display:flex;
  flex-direction: column;
  padding:1.2rem;
}
.colunaluiz p{
  max-width: 50rem;
}
.linhaluiz{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.fotoluiz{
  width: 4.5rem ;
  height:4.5rem;
  border-radius:3rem;
  margin-left:3rem;
}
.padh{
  padding:1.2rem;
  font-size:xx-large;
}
.txtmat{
  font-size: x-large;
  font-weight:bold;
  
}
.txtb{
  font-weight:bold;
  font-size:large;
}